body {
    font-family: sans-serif;
    background-color: #FAFAFA;
}

a {
    color: #3D85C6;
}
a:visited {
    color: #674ea7;
}

footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 8px;
}

footer span {
    line-height: 1em;
}

#statusBar {
    position: fixed;
    top: 0;
    left: 0;
    display: none;

    background-color: black;
    color: white;
    font-weight: bold;
    padding: 8px;
    box-sizing: border-box;
    width: 100%;
}
#statusBar.active {
    display: block;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #050505;
        color: #FAFAFA;
    }

    #statusBar {
        background-color: white;
        color: black;
    }
}