body {
    font-family: sans-serif;
    background-color: #FAFAFA;
}

a {
    color: #3D85C6;
}
a:visited {
    color: #674ea7;
}

footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 8px;
}

footer span {
    line-height: 1em;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #050505;
        color: #FAFAFA;
    }
}